[Unit]
After=postfix.service

[Service]
User=analyticsmilter
Group=analyticsmilter
ExecStart=/usr/bin/python ~/analytics_milter.py

[Install]
WantedBy=multi-user.target
# WantedBy=default.target