[Unit]
After=postfix.service

[Service]
User=trackingmilter
Group=trackingmilter
ExecStart=/usr/bin/python ~/tracking_milter.py

[Install]
WantedBy=multi-user.target
# WantedBy=default.target